* {
	margin:0;
	padding:0;
}

html,body {
	width:100%;
	height:100%;
}

#miniContentHome{
	width:100%;
	height:100%;
	background-color: #DDD;
}
/* List of all sources available here */
#miniSourceHome{
	width:40%;
	min-width:300px;
	min-height:100px;
	background-color:#CCC;
	border: 1px solid #999;
	border-radius:25px;
}
/* List of any forms of power storage here */
#miniStorageHome{

}
/* Minified TripAnalysis Chart display here */
#miniTripHome{

}
/* List of Systems here */
#miniSystemsHome{

}
/* Summary of Alarms and Warnings here */
#miniAlarmsHome{

}