h1,h2,h3,h4,h5,h6 {
	text-align: center;
	display: inline-block;
}

h3 {
	margin-bottom: 0;
	padding-bottom: 0;
}
.container {
	position: absolute;
}
.column {
	overflow: hidden;
	height: 100%;
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
	border: 0;
}
.extend {
	clear: both;
}
#wrapper {
	overflow:hidden;
	text-align: center;
	border-radius: 10px;
	background-color: #C4C4C4;
	border: 1px solid #878787;
	padding: 1%;
	min-width: 350px;
}
#title {
	background-color: #878787;
  border-radius:10px;
  border: 1px solid #5C5C5C;
  height: 5%;
  margin: 1%;
}

/* Navigation */
/*
.navigation .ui-btn .ui-btn-inner {
	padding-top: 40px !important;
}
*/
.ui-icon-custom {
	width:30px !important;
	height:25px !important;
	margin-left:-15px !important;
}

.ui-btn .ui-btn-inner {
	
}


.center {
	text-align: center;
}

#home .ui-icon {
	background-image: url(/images/icons/home.png);
	background-repeat: no-repeat;
}
#powerSource .ui-icon {
	background-image: url(/images/icons/powerSource.png);
	background-repeat: no-repeat;
}
#storage .ui-icon {
	background-image: url(/images/icons/storage.png);
	background-repeat: no-repeat;
}
#tripAnalysis .ui-icon {
	background-image: url(/images/icons/tripAnalysis.png);
	background-repeat: no-repeat;
}
#tripManager .ui-icon {
	background-image: url(/images/icons/tripManager.png);
	background-repeat: no-repeat;
}
#warning .ui-icon {
	background-image: url(/images/icons/warning.png);
	background-repeat: no-repeat;
}
#powerSys .ui-icon {
	background-image: url(/images/icons/powerSys.png);
	background-repeat: no-repeat;
}
#settings .ui-icon {
	background-image: url(/images/icons/settings.png);
	background-repeat: no-repeat;
}


/* Power Sources*/
.column.source div{
	min-height: 30%;
	width: 100%;
}
#description {
    width:100%;
    height:30%;
    min-height:50px;
    float:left;
}

/*Power Storage*/
.batteryZone {
	width:45.5%;
	background-color: #878787;
  border-radius:10px;
  border: 1px solid #5C5C5C;
	float: left;
	margin:1%;
	padding:1%;
	min-height:240px;
}